.animation-01-testComposition1 > .tree-157371_1280.png_2{
	width: 1280px;
	height: 1204px;
	opacity: 1;

	transform-origin: 640px 602px;
	-webkit-transform-origin: 640px 602px;
	-moz-transform-origin: 640px 602px;
	-o-transform-origin: 640px 602px;
	-ms-transform-origin: 640px 602px;

	transform: translate(280px, -220px)scale(0.1794, 0.1794)rotate(0deg);
	-webkit-transform: translate(280px, -220px)scale(0.1794, 0.1794)rotate(0deg);
	-moz-transform: translate(280px, -220px)scale(0.1794, 0.1794)rotate(0deg);
	-o-transform: translate(280px, -220px)scale(0.1794, 0.1794)rotate(0deg);
	-ms-transform: translate(280px, -220px)scale(0.1794, 0.1794)rotate(0deg);

	transform: translate3d(280px, -220px, 0px)scale(0.1794, 0.1794)rotate(0deg);
	-webkit-transform: translate3d(280px, -220px, 0px)scale(0.1794, 0.1794)rotate(0deg);
	-moz-transform: translate3d(280px, -220px, 0px)scale(0.1794, 0.1794)rotate(0deg);
	-o-transform: translate3d(280px, -220px, 0px)scale(0.1794, 0.1794)rotate(0deg);
	-ms-transform: translate3d(280px, -220px, 0px)scale(0.1794, 0.1794)rotate(0deg);
}
.animation-01-testComposition1 > .beachball-311978_1280.png_1{
	width: 1280px;
	height: 1278px;
	opacity: 1;

	transform-origin: 640px 639px;
	-webkit-transform-origin: 640px 639px;
	-moz-transform-origin: 640px 639px;
	-o-transform-origin: 640px 639px;
	-ms-transform-origin: 640px 639px;

	transform: translate(-570px, -575px)scale(0.0875, 0.0875)rotate(0deg);
	-webkit-transform: translate(-570px, -575px)scale(0.0875, 0.0875)rotate(0deg);
	-moz-transform: translate(-570px, -575px)scale(0.0875, 0.0875)rotate(0deg);
	-o-transform: translate(-570px, -575px)scale(0.0875, 0.0875)rotate(0deg);
	-ms-transform: translate(-570px, -575px)scale(0.0875, 0.0875)rotate(0deg);

	transform: translate3d(-570px, -575px, 0px)scale(0.0875, 0.0875)rotate(0deg);
	-webkit-transform: translate3d(-570px, -575px, 0px)scale(0.0875, 0.0875)rotate(0deg);
	-moz-transform: translate3d(-570px, -575px, 0px)scale(0.0875, 0.0875)rotate(0deg);
	-o-transform: translate3d(-570px, -575px, 0px)scale(0.0875, 0.0875)rotate(0deg);
	-ms-transform: translate3d(-570px, -575px, 0px)scale(0.0875, 0.0875)rotate(0deg);
}
